/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url("alltrails.jpg");
}

* {
  /*border: 1px solid red;*/
  font-family: 'Open Sans', sans-serif;
}

.slide-container {
  background-color: white;
  width: 75%;
  margin: auto;
  border: 2px solid teal;
  padding: 30px;
  margin-top: 30px;
  border-radius: 25px;
}

.brand-container{
  width: 50%;
  margin: auto;
  margin-top: 3em;
}

#title {
  margin-top: 0;
}

#pace {
  border: 0; 
  color: teal; 
  font-weight: bold;
}

#weight {
  border: 0; 
  color: teal; 
  font-weight: bold;
}

#calculate {
  margin-top: 20px;
  right: 0;
}

.partial {
  margin-top: 20px;
}

#info {
  font-weight: bold;
  color: teal;
}





